.grid-2 {

    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px
}

.grid-2 div {
    background-color: darkgreen;
    border: 1px solid navy;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}